@font-face {
    font-family: 'Lato';
    src: url(./font/Lato-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container_1 {
    max-width: 1600px;
    margin: 0 auto;
}

.main_content_header {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main_content_header_part_1 {
    padding-left: 231px;
    display: flex;
    align-items: center;
    gap: 41px;
}
.main_content_header_part_2 {
    padding-right: 240px; 
    display: flex;
    align-items: center;
    gap: 41px;
}

.main_content_header b{
    padding-top: 28px;
    padding-bottom: 20px;
}

.container2 {
    max-width: 1600px;
    /* max-height: 764px; */
    margin: 0 auto;
    background-color:#F1E4E6;
    font-family: Lato;
}
.main_content_2 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.brand_text {
    margin-left: 92px;
    max-width: 377px;
    border-left: 12px solid #F16D7F;
    padding: 16px;
}
.brand_text_part_1 {
    color: #222;
font-size: 48px;
font-weight: 900;
}
.brand_text_part_2 {
    color: #222;
font-size: 32px;
font-weight: 700;
}
.brand_text_part_3 {
    color: #F16D7F;
font-size: 32px;
font-weight: 700;
}

.container3 {
    max-width: 1140px;
    margin: 0 auto;
    background-color:#FFFFFF;
}

.main_content_3 {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.main_content_3_part_2 {
    background-color:rgba(33, 22, 22, 0.70);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.main_content_3_part_2 h4{
    color: #FFF;
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}

.main_content_3_part_2 h3{
    color: #F16D7F;

    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.main_content_3_part_3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.main_content_3_1 {
    background-image:url(./img/img_3_1.svg);
    width: 360px;
    height: 260px;  
}
.main_content_3_2 {
    background-image:url(./img/img_3_2.svg);
width: 360px;
height: 260px;
}
.main_content_3_3 {
    background-image:url(./img/img_3_3.svg);
width: 360px;
height: 260px;
}
.main_content_3_4 {
    background-image:url(./img/img_3_4.svg);
    width: 1140px;
    height: 180px;
}
.text_2_list {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 6px;
}

.text_2_list h3 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
}

.text_2_list h4 {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.main_content_4 {
    padding-top: 48px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.class_comment {
    background-color: #F8F8F8;
    display: flex;
    max-width: 328px; 
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    lign-items: flex-start;
    gap: 16px;
}

.class_comment h4 {
    color: #000;
font-family: Lato;
font-size: 13px;
font-weight: 400;
}

.class_comment p {
    color: #5D5D5D;
font-family: Lato;
font-size: 14px;
font-weight: 300;
}

.class_comment h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.main_content_5 {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main_content_5_1 {
font-family: Lato;
font-size: 16px;
font-weight: 400;
border: 1px solid #FF6A6A;
padding: 15px 39px;
}

.main_content_5_1 a{
color: #F26376;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}

.main_content_6{
    margin-top: 95px; 
    background-color: #222224;
    display: flex;
    justify-content: center;
    text-align: center; /* Почему данный параметр выравнивает картинку по центру/*
    /* align-items: center;  */
    padding-top: 103px;
    padding-bottom: 104px;
    gap:30px;
}


.main_content_6_1 h4{
    margin-top: 28px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 19.96px;
/* font-style: normal; */
    font-weight: 400;
/* line-height: normal; */
}

.main_content_6_1 p{
    margin-top: 16px;
    color: #FBFBFB;
text-align: center;
font-family: Lato;
font-size: 13.972px;
/* font-style: normal; */
font-weight: 300;
/* line-height: normal; */
}
.main_content_6_2 h4{
    margin-top: 28px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 19.96px;
/* font-style: normal; */
    font-weight: 400;
/* line-height: normal; */
}

.main_content_6_2 p{
    margin-top: 16px;
    color: #FBFBFB;
text-align: center;
font-family: Lato;
font-size: 13.972px;
/* font-style: normal; */
font-weight: 300;
/* line-height: normal; */
}
.main_content_6_3 h4{
    margin-top: 28px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 19.96px;
/* font-style: normal; */
    font-weight: 400;
/* line-height: normal; */
}

.main_content_6_3 p{
    margin-top: 16px;
    color: #FBFBFB;
text-align: center;
font-family: Lato;
font-size: 13.972px;
/* font-style: normal; */
font-weight: 300;
/* line-height: normal; */
}

.main_content_7 {
    background-image: url(./img/img_7_0_0.svg);
    background-size: cover;
    max-width: 1600px;
    max-height: 448px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* gap: 223px; */
}
/* .main-content_7_0 {
    background-image: url(./img/img_7_3.svg);
} */
.main_content_7_1 {
    text-align: center;
    padding-top: 97px;
    padding-bottom: 126px;
    gap:30px;
}
.main_content_7_2-text_part_1 {
    color: #222224;
text-align: center;
font-family: Lato;
font-size: 24px;
/* font-style: normal; */
font-weight: 700;
line-height: 167.2%; /* 40.128px */
/* text-align: center; */
}

.main_content_7_2-text_part_2 {
    color: #222224;
font-family: Lato;
font-size: 18px;
/* font-style: normal; */
font-weight: 400;
line-height: 167.2%;
/* text-align: center; */
}
.mail {
    display:flex;
    justify-content: center;
    margin-top: 32px;
    height: 49px;
}

.background_email {
    background-color: #E1E1E1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 64px;
}
.textParametrs{
background-color: #E1E1E1;
color: #222224;
font-family: Lato;
font-size: 14px;
/* font-style: normal; */
font-weight: 400; 
border: 0;
margin-right: 20px;

/* line-height: normal; */
}

.subscribeButton{
    background-color: #F16D7F;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /* padding-top: 25px;
    padding-bottom: 24px; */
    padding-right: 12px;
    padding-left: 15px;
    color: #FFF;
    border: 0;
text-align: center;
font-family: Lato;
font-size: 14px;
/* font-style: normal; */
font-weight: 400;
/* line-height: normal; */
}

.main_content_8 {
    background-color: #222224;
    padding-top:30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items:center; 
}

.main_content_8_text p{
    color: #FBFBFB;
font-family: Lato;
font-size: 16px;
/* font-style: normal; */
font-weight: 400;
/* line-height: normal; */
padding-left: 235px;;
}


.footer_navigation_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-right: 230px;; 
}
.footer_navigation_bar a {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pinterest {
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitter {
    display: flex;
    justify-content: center;
    align-items: center;
}





@media (max-width: 1024px ) and (min-width: 768px) {
    .container_1 {
        max-width: 768px;
        margin: 0 auto;
    }

    .main_content_header_part_1 {
        padding-left: 32px;
    }
    .main_content_header_part_2 {
        padding-right: 41px; 
    }
    .container2 {
        max-width: 768px;
        justify-content: space-between;
    }
    .container2 img {
        max-width: 386px;

    }

    .brand_text {
        margin-left: 39px;
        max-width: 283px;
    }
    .brand_text_part_1 {
        font-size: 44px;
    }
    .brand_text_part_2 {
        font-size: 24px;
    }
    .brand_text_part_3 {
        font-size: 24px;
    }

    .container3 {
        max-width: 768px;
        margin: 0 auto;

    }
    
    .main_content_3 {
        margin-top: 65px;
        gap:20px;
        justify-content: center;
    }
    .main_content_3_1 {
        background-image:url(./img/img_3_1.svg);
        max-width: 232px;
        height: 167px;  
    }
    .main_content_3_2 {
        background-image:url(./img/img_3_2.svg);
        max-width: 232px;
        height: 167px; 
    }
    .main_content_3_3 {
        background-image:url(./img/img_3_3.svg);
        max-width: 232px;
        height: 167px; 
    }
    .main_content_3_4 {
        background-image:url(./img/img_3_4.svg);
        max-width: 734.581px;
        height: 116.043px;
    }

    .text_2_list {
        margin-top: 110px;
        gap: 4px;
    }
    .main_content_4 {
        padding-top: 74px; 
        gap: 16px;

    }

    .main_content_4 img{
        max-width: 360px;
    }

    .class_comment {
        padding-top: 24px;
        padding-bottom: 20px;
        padding-left: 18px;
    }

    .main_content_5 {
        margin-top: 33px;   
    }



.main_content_6{
    margin-top: 65px; 
    flex-direction: column;
    gap:48px;
}

.main_content_7 {
    max-width: 768px;
    max-height: 693px;
    flex-direction: column;
}

.main_content_7_1 {
    padding-top: 64px;
    padding-bottom: 46px;
}
.main_content_7_2{
    padding-bottom: 140px;
}

.main_content_7_2-text_part_1 {
    color: #222224;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 167.2%;
}

.main_content_7_2-text_part_2 {
    color: #222224;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 167.2%;

}
.mail {
    display:flex;
    justify-content: center;
    margin-top: 32px;
    height: 49px;
}

.background_email {
    background-color: #E1E1E1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 64px;
}
.textParametrs{
background-color: #E1E1E1;
color: #222224;
font-family: Lato;
font-size: 14px;
font-weight: 400; 
border: 0;
margin-right: 20px;

}

.subscribeButton{
    background-color: #F16D7F;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 12px;
    padding-left: 15px;
    color: #FFF;
    border: 0;
text-align: center;
font-family: Lato;
font-size: 14px;
font-weight: 400;
}

.main_content_8_text p{
    padding-left: 32px;;
}
.footer_navigation_bar {
    padding-right: 23px;
}

}


@media (max-width: 768px ){
    .container_1 {
        max-width: 768px;
        margin: 0 auto;
    }

    .main_content_header_part_1 {
        padding-left: 16px;

    }
    .main_content_header_part_2 {
        padding-right: 26px; 
    }
    .hidden b{
        display: none;
    }
    .hidden c{
        display: none;
    }

    .main_content_2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container2 {
        max-width: 768px;
        max-height: 363px;
        padding-top: 148px;
        padding-bottom: 149px;
    }
    .container2 img {
        display: none;
    }
    .brand_text {
        margin-left: 0px; 
        max-width: 377px;
        padding: 0px;
        padding-left: 16px;
    }
    .brand_text_part_1 {
        font-size: 38px;
    }
    .brand_text_part_2 {
        font-size: 20px;
    }
    .brand_text_part_3 {
        font-size: 20px;
    }

    .container3 {
        max-width: 768px;
        margin: 0 auto;
        background-color:#FFFFFF;
    }
    
    .main_content_3 {
        margin-top: 65px;
        justify-content: center;
        gap: 32px;
    }
    .main_content_3_1 {
        width: 343px;
        height: 247px;  
    }
    
    .main_content_3_2 {

        width: 343px;
        height: 247px;  
    }
    .main_content_3_3 {
        width: 343px;
        height: 247px;  
    }
    .main_content_3_4 {
        background-size: cover;
        background-position: center;
        width: 343px;
        height: 111px;  
    }

    .text_2_list {
        margin-top: 110px;

    }

    .main_content_4 {
        padding-top: 65px;
    }

    .main_content_5 {
        margin-top: 63px;
        margin-bottom: 85px;
    }


    .main_content_6{
        margin-top: 65px; 
        flex-direction: column;
        gap:47px;
    }

    .main_content_7 {
        flex-direction: column;
        padding-bottom: 110px;

    }

    .main_content_7_1 {
        padding-top: 64px;
        padding-bottom: 59px; 
        gap:30px;
    }

    .main_content_8 {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column-reverse; 
        justify-content: flex-end;
        gap:40px;
    }
    
    .main_content_8_text p{
        padding-left: 0px; 
    }
    
    
    .footer_navigation_bar {
        padding-right: 0; 
    }
}
