@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./font/Gilroy-Bold.woff2);
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./font/Gilroy-Medium.woff2);
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url(./font/Gilroy-Regular.woff2);
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(./font/Gilroy-Semibold.woff2);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation2 {
    display: flex;
    justify-content: space-between;
    max-width: 533px;
    gap: 30px;

}
.navigation a {
    color: #F25822;
font-family: Gilroy-SemiBold;
font-size: 14px;
font-weight: 400;
line-height: normal;
padding: 51px 0;
}
.navigation b {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 51px 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}
.main-content__btn {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 35px;
    border: none;
}

.main-content_h3 {
    color: #AAA;
font-family: Gilroy-Bold;
font-size: 15px;
font-weight: 400;
line-height: normal;


}

.main-content_h2 {
    color: #888;
font-family: Gilroy-Medium;
font-size: 20px;
font-weight: 400;
line-height: normal;
margin-top: 17px;
max-width: 466px;
}

.main-content_h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    max-width: 522px;
}
.btn_content {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 72px;
    margin-top: 37px;
    
}
.cards3_btn {
    margin-top: 39px;
}



.cards1_list {
    margin-top: 140px;
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    background: #FFF;
}
.card1 {
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-right: 31px;;
}
.card1 h3 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
}
.card1 p {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-top: 17px;
}
.card1 h5 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
    margin-top: 25px;
}
.card_center {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.cards2_list {
    margin-top: 217px;
    background: #FAFAFA;
}
.cards2_text{
    text-align: center;   
    max-width: 682px;
    margin: 0 auto;
}
.cards2_text h2 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
}
.cards2_text p {
    color: #666;
text-align: center;
font-family: Gilroy-Regular;
font-size: 16px;
font-weight: 400;
line-height: 150%; /* 24px */
margin-top: 19px;
}
.cards3_list{
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #FAFAFA;
    text-align: center;
    gap: 30px;
}
.cards3_elements {
    background: #FFF;
}
.cards3_elements h3 {
    color: #000;
    text-align: center;
font-family: Gilroy-Bold;
font-size: 24px;
font-weight: 400;
}

.cards3_elements p {
    color: #AAA;
text-align: center;
font-family: Gilroy-Regular;
font-size: 15px;
font-weight: 400;
line-height: 150%; /* 22.5px */
margin-top: 22px;
}
.cards3_elements__center {
    background: #FFF;
box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}